/**
 * ======================================== 
 * Variables
 * ========================================
 */

 :root {
	--white: #ffffff;
	--black: #232233;
	--royal-blue: #5956E9;
	--very-light-blue: #7572FF;
	--grey: #6C6C72;
	--base-font: 'Josefin Sans';
}
